@charset "utf-8";
  .markdown-toc-list ul,.markdown-toc-list li{
      list-style:none;
  }
  .editormd-preview-container, .editormd-html-preview {
      margin-left:-20px;
  }
  .infosbox { overflow: hidden; background: #fff; margin-bottom: 20px }
.newsview { padding: 0 30px }
.intitle { line-height: 40px; height: 40px; font-size: 14px; ; border-bottom: #000 2px solid; }
.intitle a { font-weight: normal; }
.news_title { font-size: 24px; font-weight: normal; padding: 20px 0; color: #333; }
.bloginfo { width: 100%; overflow: hidden }
.news_about { color: #888888; border: 1px solid #F3F3F3; padding: 10px; margin: 20px auto 15px auto; line-height: 23px; background: none repeat 0 0 #F6F6F6; }
.news_about strong { color: #38485A; font-weight: 400 !important; font-size: 13px; padding-right: 8px; }
.bloginfo { width: 100%; overflow: hidden; }
.bloginfo li { float: left; margin-right: 20px;list-style:none; }